QWidget#PasswordCard {
    background-color: #222233;
    border: 1px solid #000000;
    border-radius: 10px;
}

QLabel {
    font-size: 12pt;
    color: #BDBDBD;
}

QLineEdit {
    border: none;
    background-color: #F9F9F9;
    padding: 5px;
    font-size: 12pt;
    color: #333333;
    border-radius: 9px;
}

QPushButton#saveButton {
    background-color: #0078D7;
    color: white;
    border-radius: 6px;
    padding: 8px 24px;
    background-color: #005fa3;
    font-weight: bold;
}

QPushButton#nameButton {
    border: none;
    background: transparent;
    font-size: 20pt;
    color: #BDBDBD;
}
QPushButton#nameButton:hover {
    text-decoration: none;
}

QPushButton:hover {
    text-decoration: underline;
}
