QDialog {
    background: var(--bg-card);
    border-radius: var(--border-radius);
}

QGroupBox {
    border: var(--border-width) solid var(--border-color-grey);
    border-radius: var(--border-radius-small);
    margin-top: var(--margin-base);
    background: var(--bg-main);
    color: var(--text-main);
    font-weight: var(--font-weight-base);
    padding: var(--padding-small) var(--padding-medium);
}

QLabel {
    color: var(--text-muted);
    font-size: var(--font-size-medium);
}

QLineEdit {
    background: var(--bg-input);
    color: var(--text-main);
    border: var(--border-width) solid var(--border-color-grey);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-medium);
}

QPushButton #generateButton #okButton #cancelButton{
    background: var(--bg-muted);
    color: var(--text-main);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small) var(--padding-large);
    font-size: var(--font-size-base);
    border: none;
    font-weight: var(--font-weight-base);
}
QPushButton #generateButton:hover #okButton:hover #cancelButton:hover {
    background: var(--bg-accent);
    color: var(--text-white);
}

QSpinBox#lengthSpinBox::up-arrow,
QSpinBox#lengthSpinBox::down-arrow {
    width: 0px;
    height: 0px;
}
QSpinBox#lengthSpinBox::up-button {
    border: var(--border-radius) solid transparent;
    border-radius: var(--border-radius-small);
    background-color: var(--bg-input);
    width: 20px;

}
QSpinBox#lengthSpinBox::down-button {
    border: var(--border-width) solid transparent;
    border-radius: var(--border-radius-small);
    background-color: var(--bg-input);
    width: 0px;
}

QSpinBox#lengthSpinBox {
    background: var(--bg-input);
    color: var(--text-main);
    border: var(--border-width) solid var(--border-color-grey);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-medium);
    width: auto;
}
QSpinBox#lengthSpinBox:focus {
    border-color: var(--bg-accent);
}

QGroupBox::title {
  background-color: transparent;
  padding-top: -24px;
}

QSlider {
    min-height: 10px;
    max-height: 20px;
}

QSlider::groove:horizontal {
    border: 1px solid #bbb;
    background: #eee;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: var(--slider-bg);
    border: var(--slider-border) solid var(--slider-bg);
    width: var(--slider-width);
    height: var(--slider-width);
    border-radius: var(--slider-radius-handle);
    margin: var(--slider-margin);
}

QSlider::sub-page:horizontal {
    background: var(--slider-bg);
    border-radius: var(--slider-radius);
}

QSlider::add-page:horizontal {
    background: var(--slider-add-page-bg);
    border-radius: var(--slider-radius);
}
