@import url("theme.css");

QWidget#PasswordCardInList {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 18px;
}

QLabel {
    font-size: 13pt;
    color: var(--text-muted);
}
