QWidget#PasswordCardInList {
    background-color: var(--bg-card);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-small) var(--padding-large);
}

QLabel {
    font-size: var(--font-size-medium);
    color: var(--text-muted);
}
