@import url("theme.css");

QMainWindow {
    background: var(--bg-main);
}

QMenuBar, QMenu {
    background: var(--bg-card);
    color: var(--text-main);
    border-radius: var(--border-radius);
}

QListWidget {
    background: var(--bg-card);
    border-radius: var(--border-radius);
    color: var(--text-main);
    font-size: 14px;
    border: 1px solid var(--border-color);
}

QLineEdit {
    background: var(--bg-input);
    color: var(--text-main);
    border: 1.5px solid #444;
    border-radius: 8px;
    padding: 7px 12px;
    font-size: 13pt;
}

QPushButton {
    background: var(--bg-muted);
    color: var(--text-main);
    border-radius: 8px;
    padding: 10px 24px;
    font-size: 14px;
    border: none;
    font-weight: 500;
}
QPushButton:hover {
    background: var(--bg-accent);
    color: #fff;
}
