QWidget#PasswordCard {
    background-color: #222233;
    border: 1px solid #000000;
    border-radius: 10px;
}

QLabel {
    font-size: 12pt;
    color: #BDBDBD;
}
QLabel#nameLabel {
    font-size: 25pt;
    color: #BDBDBD;
}

QLineEdit {
    border: none;
    background-color: #F9F9F9;
    padding: 5px;
    font-size: 12pt;
    color: #333333;
    border-radius: 9px;
}
QLineEdit#websiteEdit {
    text-decoration: underline;
}

QPushButton#editButton {
    background-color: #444;
    color: white;
    border-radius: 6px;
    padding: 8px 24px;
}
QPushButton#editButton:hover {
    background-color: #222;
}

QPushButton#deleteButton {
    background-color: #444;
    color: white;
    border-radius: 6px;
    padding: 8px 24px;
}
QPushButton#deleteButton:hover {
    background-color: #222;
}

QPushButton#backButton {
    border: none;
    background: transparent;
    font-size: 10pt;
    color: #0078D7;
}
QPushButton:hover {
    text-decoration: underline;
}
