@import url("theme.css");

QWidget#PasswordCard {
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

QFrame#PasswordCardFrame {
    background-color: var(--bg-card);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 16px;
}

QLabel {
    font-size: 13pt;
    color: var(--text-muted);
}
QLabel#nameLabel {
    font-size: 22pt;
    color: var(--text-main);
}

QLineEdit {
    border: 1.5px solid #444;
    background-color: var(--bg-input);
    padding: 7px 12px;
    font-size: 13pt;
    color: var(--text-main);
    border-radius: 8px;
}
QLineEdit#websiteEdit {
    text-decoration: underline;
}

QPushButton#editButton, QPushButton#deleteButton {
    background-color: var(--bg-muted);
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
}
QPushButton#editButton:hover, QPushButton#deleteButton:hover {
    background-color: var(--bg-accent);
    color: #fff;
}

QPushButton#backButton {
    border: none;
    background: transparent;
    font-size: 14pt;
    color: var(--text-accent);
}
QPushButton#backButton:hover {
    color: #fff;
    background: #3a3f4b;
    border-radius: 8px;
}

QPushButton#saveButton {
    background-color: var(--bg-accent);
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
}
QPushButton#saveButton:hover {
    background-color: var(--bg-accent-hover);
}
