QLabel {
    font-size: 13pt;
    color: var(--text-muted);
}
QLabel#titleLabel {
    font-size: 24pt;
    color: var(--text-main);
    font-weight: bold;
}

QFrame#PasswordCardFrame {
    background-color: var(--bg-card);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 20px;
}

QLineEdit, QComboBox {
    border: 1.5px solid #444;
    background-color: var(--bg-input);
    padding: 7px 12px;
    font-size: 13pt;
    color: var(--text-main);
    border-radius: 8px;
}

QPushButton#saveButton {
    background-color: var(--bg-accent);
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: bold;
}
QPushButton#saveButton:hover {
    background-color: var(--bg-accent-hover);
}

QPushButton#cancelButton, QPushButton#browseButton {
    background-color: var(--bg-muted);
    color: white;
    border-radius: 8px;
    padding: 8px 24px;
}
QPushButton#cancelButton:hover, QPushButton#browseButton:hover {
    background-color: #222;
}

QPushButton:hover {
    text-decoration: underline;
}
