QLabel {
    font-size: var(--font-size-medium);
    color: var(--text-muted);
}
QLabel#titleLabel {
    font-size: var(--font-size-large);
    color: var(--text-main);
    font-weight: bold;
}

QFrame#PasswordCardFrame {
    background-color: var(--bg-card);
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    padding: var(--padding-base);
}

QLineEdit, QComboBox {
    border: var(--border-width) solid var(--border-color-grey);
    background-color: var(--bg-input);
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--font-size-medium);
    color: var(--text-main);
    border-radius: var(--border-radius-small);
}

QPushButton#saveButton {
    background-color: var(--bg-accent);
    color: var(--text-white);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small) var(--padding-large);
    font-weight: bold;
}
QPushButton#saveButton:hover {
    background-color: var(--bg-accent-hover);
}

QPushButton#cancelButton, QPushButton#browseButton {
    background-color: var(--bg-muted);
    color: var(--text-white);
    border-radius: var(--border-radius-small);
    padding: var(--padding-small) var(--padding-large);
}
QPushButton#cancelButton:hover, QPushButton#browseButton:hover {
    background-color: #222;
}

QPushButton#browseButton {
    border: var(--border-width) solid var(--border-color-grey);
    font-size: var(--font-size-medium);
}

QComboBox QAbstractItemView {
    background-color: var(--bg-input);
    color: var(--text-main);
    border: var(--border-width) solid var(--border-color-grey);
    padding: var(--padding-small);

}
